*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: beige;
    padding-top: 5px;
    padding-bottom: 3px;
}
.span{
    font-size: 50px;
    color: rgb(238, 145, 24);
    
}
.text{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.section{
    display: flex;
}
.left{
    background-color: rgb(144, 145, 117);
    padding: 10px;
    width: 20%;
    height: 100vh;
}
.img{
    width: 90%;
    height: 40%;
    
    margin-left: auto;
    border-radius: 50%;
    background-color: rgb(12, 71, 160);

}
.icon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.font_icon{
    font-size: 25px;
    color: white;
}
.email{
    font-size: 14px;
    font-weight: 700;
}
.right{
    background-color: #ccc4bbbb;
    width: 80%;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
.phone{
    font-size: 14px;
    font-weight: 700;
    margin-right: 0px;
}
#table{
    border-collapse: collapse;
}
  tr  th{
    border: 1px solid;
    padding: 4px;
    
}
  tr  td{
    border: 1px solid;
    padding: 4px;
    
}
